.base {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
}

.player {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    width: 100%;
    align-items: center;
}

.frame {
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
}